/* Barra de navegación */

.navbar {
 padding: 2rem;
 background-color: #f5f6f7;
}

.navbar-collapse {
 align-items: center;
 justify-content: space-between;
}

/* Barra de navegación adaptable a pantallas pequeñas y ocultación del logo */

@media screen and (max-width: 767px){
  .navbar-brand{
    display: none;
  }
}